body {
  font-family: sans-serif;
  color: #212121;
  background-color: #ffffff;
  font-weight: 400;
  letter-spacing: 0.03em;
  padding-top: 4vw;
}
p {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
}
