:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
  --background-color: #6787a2;
  --background-color-secondary: #ffffff;
  --background-color-accent: #0a4d83;
  --text-color-primary: #212121;
  --text-color-secondary: #ffffff;
}

.wrapp-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.search-form {
  widows: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-form input {
  width: 40%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  background-color: var(--background-color-secondary);
  border: none;
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  font: inherit;
}
.search-form button {
  border: none;
  border-radius: 0 4px 4px 0;
  width: 2.5em;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgb(200, 200, 200);

  display: flex;
  align-items: center;
  justify-content: center;
}

b .material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  font-size: 2vw;
  color: var(--text-color-primary);
}
.search-form button:hover,
.search-form button:focus {
  background-color: var(--background-color-accent);

  &:hover .material-symbols-outlined,
  &:focus .material-symbols-outlined {
    color: var(--text-color-secondary);
  }
}
.wrapper {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.gallery {
  // max-width: 468px;
  margin: 0 auto;
  padding-top: 75px;
  margin-bottom: 15px;

  @include tablet {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  @include desktop {
    max-width: 1400px;
  }
}
.gallery__wrap {
  display: flex;
  flex-direction: column;
  // justify-content: space-evenly;
  border: none;
  border-radius: 0 15px 0 15px;
  overflow: hidden;
  transition: transform var(--animation-duration) var(--timing-function);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  @media screen and (max-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  @include tablet {
    margin-bottom: 0;
    @include item(2, 30px);
  }
  @include desktop {
    @include item(3, 30px);
  }

  &:hover,
  &:focus {
    transform: scale(1.03);
  }
}
.gallery__link {
  display: flex;
  height: 100%;
}
.gallery__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  flex-grow: 1;
}

.gallery__info {
  display: flex;
  justify-content: space-between;
  padding: 15px;

  color: var(--text-color-primary);
}
.gallery__item {
  display: flex;
  flex-direction: column;
}
@include response {
  p,
  b {
    font-size: 3vw;
    line-height: 4.5vw;
  }
}

.load-more {
  display: block;
  margin: 0 auto 15px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  background-color: var(--background-color);
  color: var(--text-color-secondary);
  padding: 8px 15px;
  font-size: 2vw;
  line-height: 3vw;
  transition: all var(--animation-duration) var(--timing-function);
  &:hover,
  &:focus {
    background-color: var(--background-color-accent);
    color: var(--text-color-secondary);
  }
  @include tablet {
    margin-top: 15px;
  }
}
.is-hidden {
  visibility: hidden;
}
.is-shown {
  visibility: visible;
}
