@import '/node_modules/modern-normalize/modern-normalize.css';
:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}
body {
  font-family: sans-serif;
  color: #212121;
  background-color: #ffffff;
  font-weight: 400;
  letter-spacing: 0.03em;
  padding-top: 4vw;
}
p {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
}

.wrapp-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(96, 16, 245);
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-form input {
  width: 25vw;
  height: 4vw;
  padding-left: 10px;

  background-color: #ffffff;
  border: none;
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  font-size: 2vw;
  line-height: 3vw;
}
.search-form button {
  border: none;
  border-radius: 0 4px 4px 0;
  width: 5vw;
  height: 4vw;

  display: flex;
  align-items: center;
  justify-content: center;
}
.search-form button:hover,
.search-form button:focus {
  background-color: #ddd6d6;
}
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  font-size: 2vw;
  fill: #212121;
}
.wrapper {
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  .wrapper {
    padding-top: 35px;
  }
}

.gallery {
  max-width: 468px;
  margin: 0 auto;
  padding: 15px;
}
@media screen and (min-width: 768px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1200px;
  }
}
@media screen and (min-width: 1440px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1400px;
  }
}
.gallery__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: none;
  border-radius: 0 15px 0 15px;
  overflow: hidden;
  transition: transform var(--animation-duration) var(--timing-function);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (max-width: 768px) {
  .gallery__wrap:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .gallery__wrap {
    margin-bottom: 0;
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1440px) {
  .gallery__wrap {
    flex-basis: calc((100% - 2 * 30px) / 3);
  }
}
.gallery__wrap:hover,
.gallery__wrap:focus {
  transform: scale(1.03);
}
.gallery__link {
  display: flex;
  height: 100%;
}

.gallery__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  flex-grow: 1;
}

.gallery__info {
  display: flex;
  justify-content: space-between;
  padding: 15px;

  color: #212121;
}
.gallery__item {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 480px) {
  p,
  b {
    font-size: 3vw;
    line-height: 4.5vw;
  }
}

.load-more {
  display: block;
  margin: 0 auto 15px;
  border: none;
  border-radius: 4px;

  background-color: rgb(96, 16, 245);
  color: #ffffff;
  padding: 8px 15px;
  font-size: 2vw;
  line-height: 3vw;
}
@media screen and (min-width: 768px) {
  .load-more {
    margin-top: 15px;
  }
}
.load-more:hover,
.load-more:focus {
  background-color: #ddd6d6;
  color: #212121;
}

.is-hidden {
  visibility: hidden;
}
.is-shown {
  visibility: visible;
}
